

/*main*/
.main {
	background: #fff url(../img/main-bg.jpeg) center center no-repeat;
    padding: 3rem 0.5rem;
    background-size: :cover;
   &-content{
margin-top: 10rem;

/*Главный заголовок*/
h1{
	.bold();
	margin-bottom: 4rem;
	font-size: 4rem;
	line-height:1.45;
text-transform: uppercase;

}
}
/*Подзоголовк*/
&-subtitle{
	.reg();
	font-size: 2.4rem;
	margin-bottom: 4rem;
}

/*зеленый ярлык*/

span{
	text-align: center;
	display:inline-block;
	background-color:@icons-color;
	padding: 2.4rem 3rem;
	font-size: 1.8rem;
	color:@light;
	/*Шрифт 300руб*/
	strong{
		.bold();
		font-size: 3rem;
	}
}
/*оплата по факту*/
&-trigger{
	margin-top: 3rem;
	display: block;
font-size: 2.2rem;
.bold();
text-transform:uppercase;
}

/*Главная форма*/
&-form{
text-align: center;
	background-color:@light;
		padding:4.5rem 4rem;

		/*Заголовок формы*/
	&-header{
		margin-bottom:4rem;
		font-size: 1.8rem;
		strong{
			font-size: 1.9rem;
		}
	}

	/*поле для ввода*/
	&-input{
		display:block;
		margin: 2rem 0rem;
width:100%;
border:1px solid @border-input;
padding:1.5rem;

}

/*Подпись к полям*/
label{
	position:absolute;
	font-size: 1.3rem;
		transform: translateX(-50%) translateY(-50%);
	padding:0.5rem;
	background-color: @light;
}

/*кнопка отправить заявку*/
&-btn{
	display: block;
	height:5.5rem;
	width:100%;
	font-size: 1.6rem;
	margin-top: 2rem;
}

/*Подпись под кнопкой*/
small{
	display:block;
	margin-top: 5rem;
	font-size: 1.8rem;
	background-color:red;
}
}
}

.header{
	height:7rem;
}

.wrap{
	display: table;
width: 100%;
height: 7rem;

&-block{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}}

.phone-link{
	.bold();
	font-size: 2rem;
	display: inline-block;
font-weight: 900;
padding-left: 6rem;
height: 7rem;	
line-height: 7rem;
color: @text;
}

